.user_list_container{
    display: flex;
    flex-direction: column;
   // align-items: center;
    padding: 4rem;
    gap : 3rem ;
    font-family: "Poppins", sans-serif; 
    background-color:#002244; 
    box-sizing: border-box;
}
.search_user{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.search_input{
    border: 1px solid #9f9e9e;
}
.search_input:focus{
    border: 1px solid #9f9e9e;
    outline: none;
}
.list_users_containers {
   
    display: grid;
     grid-template-columns: repeat(3, 1fr); /* Default to 3 columns */
      gap: 4rem  ;
      align-items: center;
      box-sizing: border-box;
    
  }

  
  @media (max-width: 900px) {
    .list_users_containers {    
        gap: 2rem ;
            grid-template-columns: repeat(2, 1fr); /* 1 column for small screens */
    }
    @media (max-width: 560px) {
        .list_users_containers {
          grid-template-columns: 1fr; /* 1 column for small screens */
        }
    }
  }
  
.template_user{
    display: flex;
    flex-direction: column;
    border: 1px solid #9f9e9e;
    padding: 1rem;
    box-sizing: border-box;
    
    border-radius: 10px;
    gap: 2rem;
    max-width:  300px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.template_user:hover{
    transform: scale(1.05);
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); 
}

.user_img{
    max-width: 100%;
    height: 150px;
    border-radius: 8px;
}
.user_list_headline{
   color: rgb(255, 255, 255); 
    font-size: 3rem;
    font-weight: 700;
  
}

.container_markup{
    display: flex;
    align-items: center;
    gap: 2rem;
    color: white;
    justify-content: space-between;
}
.first_name_user{
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.email_users{
    display: flex;
    align-items: center;
    gap : 0.5rem ;
    align-items: left;
    font-size: 1rem;
    font-weight: 500;
    color: white;
 
}
span{
    color: white;
    cursor: pointer;
}
.edit_delete_button{
    
    display: flex ;
    align-items: center ;
    gap: 0.5rem ;
}
.edit_details{
    width: 100%;
    border: 1px solid #9f9e9e;
    height: 1.5rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
}
.mail_connect{
    width: 15px;
    height: 15px;
}
.pagination_section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem ;
}
.pagination_button{
    border : 1px solid #9f9e9e ;
    border-radius : 5px ;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: white;
    color: black;
}
.pagination_button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
.active_page {
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    cursor: pointer;
  }
.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
.modal_content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
.edit_execute, .edit_cancel {
    padding: 10px 15px;
    margin: 10px 5px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
  }
.edit_execute {
    background-color: #000000; 
    color: white;
  }
.edit_cancel {
    background-color: #000000; 
    color: white;
  }
input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
.edit_user{
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 40px;
}
.edit_inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem ;
  }
.edit_form_details{
    display: flex;
    flex-direction: column;
    gap: 1rem ;
  }

  .search_icon {
    position: absolute;
    right: 10px; /* Position the icon to the right */
    top: 50%;
    transform: translateY(-50%); /* Center the icon vertically */
    cursor: pointer;
  }

  // mobile responsive
 

  @media (max-width: 768px) {

    .user_list_container{
        gap : 2rem ;
        padding: 2rem;    
    }
    .container_markup{
        display: flex;
        align-items: center;
        gap: 2rem;
        color: white;
        justify-content: space-between;
    }
    .user_list_headline{
        font-size: 2rem;
        font-weight: 500 ;
    }
    .modal_overlay{
     
 
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;


    }
    .search_user{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }

  }

  @media (min-width: 560px) {
 
    
  }